<!-- <div class="container m-3 my-7 pr-3">
  <form #cardCustomer="ngForm" (ngSubmit)="getCustomerById()">
    <h4>Customer card</h4>

    <div class="mb-3">
      <div class="col-11">
        <h3
          name="firstName"
          [(ngModel)]="customer.firstName"
          #name="ngModel"
        ></h3>
      </div>
    </div>

    <div class="mb-3">
      <div class="col-11">
        <h3
          name="lastName"
          [(ngModel)]="customer.lastName"
          #name="ngModel"
        ></h3>
      </div>
    </div>

    <div class="mb-3">
      <div class="col-11">
        <h3 name="email" [(ngModel)]="customer.email" #name="ngModel"></h3>
      </div>
    </div>

    <div class="mb-3">
      <div class="col-11">
        <h3 name="phone" [(ngModel)]="customer.phone" #name="ngModel"></h3>
      </div>
    </div>
  </form>
</div> -->
