.tr-bgc {
    background-color: #152733;
}

th {
    color: white
}

#tdBold {
    font-weight: bold;
}

#bg {

    background-color: #152733;
    padding-top: 30px;
}

h4 {
    color: white;
    margin-left: 300px;

}