<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(40, 2%, 76%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          More sales, better service, greater customer insight! <br />
          The No. 1 Customer Relationship Management tool <br />
          for small, medium, and enterprise businesses. <br /><br /><br />
          email: moo15daa@gmail.com <br />
          password: 123456
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form #loginForm="ngForm" (ngSubmit)="login()">
              <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
              <div class="row">
                <div class="mb-4">
                  <div class="form-outline"></div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  ngModel
                  required
                  email
                  #email="ngModel"
                  [(ngModel)]="user.email"
                />
                <small
                  class="text-danger"
                  *ngIf="email.invalid && (email.touched || email.dirty)"
                  >Wrong email format</small
                ><br />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  ngModel
                  required
                  minlength="5"
                  #password="ngModel"
                  [(ngModel)]="user.password"
                />
                <small
                  class="text-danger"
                  *ngIf="
                    password.invalid && (password.touched || password.dirty)
                  "
                  >Password length should be at least 5 characters</small
                ><br />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Submit button -->
              <div class="col-md-12 text-center">
                <button
                  type="submit"
                  class="btn btn-dark mb-4"
                  [disabled]="loginForm.invalid"
                >
                  Sign up
                </button>
              </div>
              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google text-dark"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter text-dark"></i>
                </button>

                <button type="submit" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github text-dark"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
