<table class="table table-striped">
  <thead>
    <tr class="tr-bgc">
      <th scope="col">No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Details</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers; index as i">
      <td id="tdBold">{{ i + 1 }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>
        <a (click)="updateCustomer(customer)"
          ><i
            style="margin-left: 20px"
            class="fa-solid fa-address-card text-primary"
          ></i
        ></a>
      </td>
      <td>
        <a (click)="updateCustomer(customer)"
          ><i style="margin-left: 10px" class="fa-solid fa-pen text-success"></i
        ></a>
      </td>
      <td>
        <a (click)="deleteCustomer(customer)"
          ><i
            style="margin-left: 20px"
            class="fa-solid fa-trash text-danger"
          ></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
